
.checkout-container {
    margin-top: 2rem;
    gap: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 253, 255);
}

.date-selection {
    padding: 2rem;
}

.checkout-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    /* display: flex; */
    justify-content: space-between;
    background-color: rgb(253, 253, 255);
}

.checkout-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 80rem; 
    margin: 2rem auto; 
    background-color: rgb(253, 253, 255);
    padding: 2rem;
    border-radius: 1rem; 
    /* box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.1);  */
    font-family: 'Arial', sans-serif;
}

.room-details {
    margin-bottom: 2rem; 
}

.room-details h2 {
    font-size: 2rem; 
    margin-bottom: 1rem; 
}

.room-details p {
    font-size: 1.125rem; 
    margin: 0.5rem 0; 
}

.checkout-container .complete-btn {
    width: 100%;
    padding: 1rem;
    background-color: #223ffc;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-container .complete-btn:hover {
    background-color: #0012a0;
}

.checkout-container input[type="date"],
.checkout-container input[type="number"],
.checkout-container input[type="text"],
.checkout-container input[type="email"],
.checkout-container select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    width: 100%;
    margin-bottom: 1rem; 
}

.checkout-container .agree {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 1rem;
}
