.checkout-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: space-between;
    background-color: rgb(253, 253, 255);
}

.checkout-container {
    margin-top: 2rem;
    gap: 3rem;
    display: flex;
    flex-direction: column; /* Stack the items vertically for smaller screens */
    align-items: center; /* Center content */
    background-color: rgb(253, 253, 255);
    width: 90%; /* Full width with some margin on smaller screens */
    max-width: 80rem; 
    padding: 2rem;
    border-radius: 1rem; 
    box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.1);  
    font-family: 'Arial', sans-serif;
}

.room-details {
    width: 100%; /* Make room details full width */
    margin-bottom: 2rem; 
}

.room-details h2 {
    font-size: 2rem; 
    margin-bottom: 1rem; 
}

.room-details p {
    font-size: 1.125rem; 
    margin: 0.5rem 0; 
}

.guest-container {
    display: flex;
    flex-direction: column; /* Stack select elements vertically */
    gap: 1rem; /* Add space between select elements */
    width: 100%; /* Full width */
}

.guest-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    width: 100%;
}

.date-selection {
    padding: 2rem;
    display: flex;
    flex-direction: column; /* Stack date inputs vertically */
    gap: 1rem; /* Space between inputs */
    width: 100%; /* Full width */
}

.date-selection label {
    margin-bottom: 0.5rem;
}

.booking-section {
    width: 100%; /* Full width */
}

.complete-btn {
    width: 100%;
    padding: 1rem;
    background-color: #223ffc;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.complete-btn:hover {
    background-color: #0012a0;
}

.checkout-container input[type="date"],
.checkout-container input[type="number"],
.checkout-container input[type="text"],
.checkout-container input[type="email"],
.checkout-container select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    width: 100%; /* Full width */
    margin-bottom: 1rem; 
}

.checkout-container .agree {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .checkout-container {
        flex-direction: row; 
        justify-content: space-between;
    }

    .guest-container,
    .booking-section {
        flex: 1; 
        margin: 0 1rem;
    }

    .room-details {
        flex: 2; 
    }
}
