.nav-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffff;
  transition: all 0.3s ease;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container img {
  width: 10rem; /* Equivalent to 160px */
  height: auto;
  transition: all 0.3s ease;
}

.shrink .nav-container {
  padding: 0.5rem 0; /* Equivalent to 8px */
}

.shrink img {
  width: 7rem; /* Equivalent to 112px */
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem; /* Equivalent to 32px */
}

a:hover {
  color: #0282c3;
}

.logins {
  margin-right: 1rem; /* Equivalent to 16px */
}

.rooms-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 0.0625rem solid #ccc; /* Equivalent to 1px */
  border-radius: 0.3125rem; /* Equivalent to 5px */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Equivalent to 4px and 8px */
  z-index: 1000;
  min-width: 9.375rem; /* Equivalent to 150px */
  display: flex;
  flex-direction: column;
  padding: 0;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 0.625rem; /* Equivalent to 10px */
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.dropdown-menu ul li a:hover {
  color: #0282c3;
}

body {
  padding-top: 5rem; /* Equivalent to 80px */
}

.checkout-container {
  margin-top: 2rem; /* Equivalent to 32px */
}

.user-avatar {
  width: 1.875rem; /* Equivalent to 30px */
  height: 1.875rem; /* Equivalent to 30px */
  border-radius: 50%;
}

.user-icon {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  /* font-size: 1.6rem; */
  font-weight: bolder;
  color: black;
}

.user-name {
  text-transform: capitalize; 
  color: #000000c5;
  font-size: 1.6rem;
  font-weight: bolder;
}

/* .user-name span {
  color: #000;
  font-size: 1.6rem;
  font-weight: bolder;
} */

.user-icon span {
  margin-left: 0.625rem; /* Equivalent to 10px */
  /* font-size: 1rem; Equivalent to 16px */
  /* color: #0282c3; */
}


.logout-btn {
  background-color: transparent;
  border: none;
  color: #0282c3;
  cursor: pointer;
  font-size: 1rem; /* Equivalent to 16px */
}

.profile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.profile-mid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.profile-content {
  position: relative;
  left: 4rem; /* Equivalent to 64px */
  background: #fff;
  border-radius: 0.5rem; /* Equivalent to 8px */
  padding: 2rem; /* Equivalent to 32px */
  width: 40%;
  max-width: 56.25rem; /* Equivalent to 900px */
  height: 90%;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Equivalent to 16px */
}

.profile-content h2 {
  margin-bottom: 1rem; /* Equivalent to 16px */
}

.profile-content .edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem; /* Equivalent to 16px */
}

.profile-content .edit-button {
  background-color: #0282c3;
  color: white;
  border: none;
  border-radius: 0.25rem; /* Equivalent to 4px */
  padding: 0.5rem; /* Equivalent to 8px */
  cursor: pointer;
  margin-top: 0.5rem; /* Equivalent to 8px */
}

.profile-content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  text-align: left;
  gap: 2rem; /* Equivalent to 32px */
}

.profile-content ul li {
  margin-bottom: 0.625rem; /* Equivalent to 10px */
  font-size: 1.5rem; /* Equivalent to 24px */
}

.profile-image {
  width: 1.875rem; /* Equivalent to 30px */
  height: 1.875rem; /* Equivalent to 30px */
  border-radius: 50%;
}

.profile-image-large {
  width: 13.125rem; /* Equivalent to 210px */
  height: 13.125rem; /* Equivalent to 210px */
  border-radius: 50%;
}

.profile-image-large:hover {
  color: #0004ff00;
  transform: scale(1.1);
}

.circle-label {
  cursor: pointer;
}

.circle {
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.circle:hover {
  color: #0004ff00;
  transform: scale(1.1);
}

.logout-btn, .close-btn {
  background-color: #0282c3;
  color: white;
  border: none;
  padding: 0.5rem; /* Equivalent to 8px */
  border-radius: 0.25rem; /* Equivalent to 4px */
  cursor: pointer;
  margin-top: 0.625rem; /* Equivalent to 10px */
}

.logout-btn {
  background-color: #0282c3;
}

.close-btn {
  background-color: #888;
}
