.nav-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffff;
  transition: all 0.3s ease;
  z-index: 1000; 
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;}

.nav-container img {
  width: 10rem;
  height: auto;
  transition: all 0.3s ease;
}

.shrink .nav-container {
  padding: 0.5rem 0;
}

.shrink img {
  width: 7rem;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

a:hover {
  color: #0282c3;
}

.logins {
  margin-right: 1rem;
}


