.nav-top {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #fffffffc;
  transition: all 0.3s ease; 
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  overflow: hidden;
  top: 0;
}

.nav-container img {
  width: 10rem;
  height: auto;
  transition: all 0.3s ease; 
}

.shrink .nav-container {
  padding: 0.5rem 0; 
}

.shrink img {
  width: 7rem; 
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.logins {
  margin-right: 1rem;
}
