.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 7rem;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60vh;
    flex-wrap: wrap; 
}

.image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top img {
    width: 55%;
    display: flex;
    border-radius: 2rem;
}

.textie {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
}

.textie h2 {
    color: #333;
    text-align: center; 
}

.textie h3 {
    font-size: larger;
    color: #333;
    text-align: center; 
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0; 
}

.middle h4 {
    width: 100%;
    color: #333; 
    font-size: 1rem;
}

.middle h4 span {
    display: flex;
    font-weight: bold;
    font-size: 1.9rem; 
    color: #000; 
    justify-content: center; 
}

.middle h4::after {
    content: '';
    display: block;
    width: 50%;
    background-color: #000;
    margin: 0 auto; 
}

.line {
    color: #000;
    width: 25%;
    height: 0.2vh;
}

.line-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    text-align: center;
    justify-items: center; 
    width: 100%; 
    gap: 2rem;
}

.bottom img {
    width: 80%; 
    margin-bottom: 1rem; 
}

.bottom h5 {
    font-size: 16px; 
    line-height: 1.5; 
    max-width: 300px; 
}

.bottom h5 u {
    font-weight: bold;
    font-size: 18px; 
}

@media (max-width: 768px) {
    .top img {
        width: 70%; 
    }

    .textie h2, .textie h3 {
        font-size: 1.5rem; 
    }

    .bottom {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    .top img {
        width: 90%; 
    }

    .textie h2, .textie h3 {
        font-size: 1.2rem; 
    }

    .bottom {
        grid-template-columns: 1fr; 
    }
}
