.reserve-container {
    width: 100%;
}

.reserve {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.paypal {
    width: 50%;
}

.book {
    width: 50%;
    height: auto;
}